<%= link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
  <%= image_tag(flag(locale)) %>
  <span class="caret"></span>
<% end %>
<ul id="language_switcher" class="dropdown-menu">
  <% I18n.available_locales.each do |locale| %>
    <% if I18n.locale != locale %>
      <%= content_tag :li do %>
        <% I18n.with_locale(locale) do %>
          <% url_params = { locale: locale} %>
          <%= link_to url_for(params.merge(url_params)), data: { turbolinks: false, locale: locale }  do %>
            <%= image_tag(flag(locale)) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>
<div class="line-separate hidden-xs"></div>