<%= content_tag :div, class:"container" do %>

  <h2>Buttons</h2>
  <%= link_to "button 1", nil, class: "btn btn-primary btn-xs " %>
  <%= link_to "button 1", nil, class: "btn btn-primary btn-md " %>
  <%= link_to "button 1", nil, class: "btn btn-primary btn-lg " %>
  <hr>

  <h2>Upload File</h2>
  <%= content_tag :div, class:"container" do %>
    <%= bootstrap_form_tag url: "#", method: :get, class:"container" do |f|%>
      <div class="image text-center">

        <div class="input-group upload">
          <label class="btn">
            Subir Foto ...
            <%= f.file_field :avatar,  hide_label: true %>
          </label>
          <input type="text" class="form-control" readonly>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr/>

  <h2>Check box & Radio button</h2>
  <%= content_tag :div, class:"container" do %>
    <%= bootstrap_form_tag url: "#", method: :get, class:"container" do |f|%>

      <%= content_tag :div, class:"col-xs-3 checkbox-custom" do %>
        <%= f.check_box :check do  %>
          Checkbox
          <span class="icon"><i class="fa fa-check"></i></span>
        <% end %>
      <% end %>

      <%= content_tag :div, class:"col-xs-8 col-xs-offset-1 radiobutton-custom" do %>
        <%= f.form_group :check, label: { text: "Select Option" } do %>
          <%= f.radio_button :skill_level, 0, label: "Yes", inline: true, checked: true %>
          <%= f.radio_button :skill_level, 1, label: "No", inline: true %>
          <%= f.radio_button :skill_level, 2, label: "Maybe", inline: true %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
  <hr>

  <h2>Input text</h2>
  <%= bootstrap_form_tag url: "#", method: :get do |f|%>
    <%= f.text_field :name, hide_label: true, placeholder: "Título", wrapper_class: "" %>
    <%= f.text_area :description, hide_label: true, placeholder: "Descripción", wrapper_class: "" %>
    <%= f.email_field :email, hide_label:true, placeholder: "* Email",  wrapper_class: "" %>
    <%= f.phone_field :phone, hide_label:true, placeholder: "Telefono", wrapper_class: "" %>
    <%= f.password_field :password, hide_label:true, placeholder: "* Contraseña", wrapper_class: "" %>
  <% end %>
  <hr>

  <h2>Select Picker</h2>
  <%= bootstrap_form_tag url: "#", method: :get do |f|%>
      <%= f.select :priority, {
                    hide_label: true,
                    include_blank: "Selecciona una prioridad" },
                    { class: ""} %>
  <% end %>
  <hr>

  <h2>Datapicker</h2>
  <%= bootstrap_form_tag url: "#", method: :get do |f|%>
    <%= f.text_field :from_date,
                     hide_label: false,
                     placeholder: "Datapicker sin icono",
                     class: "datepicker",
                     readonly: "true",
                     wrapper_class: "" %>

     <%= f.text_field :from_date,
                      hide_label: false,
                      placeholder: "Datapicker con icono",
                      class: "datepicker",
                      readonly: "true",
                      wrapper_class: "input-icon-data-picker" %>
  <% end %>
  <hr>

  <h2>Timepicker</h2>
  <%= bootstrap_form_tag url: "#", method: :get do |f|%>
    <%= f.text_field :from_time,
                   hide_label: false,
                   placeholder: "Time picker sin icono",
                   class: "timepicker",
                   readonly: "true",
                   wrapper_class: "bootstrap-timepicker" %>

    <%= f.text_field :from_time,
                     hide_label: false,
                     placeholder: "Time picker with icon",
                     class: "timepicker",
                     readonly: "true",
                     wrapper_class: "bootstrap-timepicker input-icon-time-picker" %>
    <% end %>
    <hr>
    <h2>Color Picker</h2>
    <%= bootstrap_form_tag url: "#", method: :get do |f|%>
      <%= f.text_field :color, hide_label: true, placeholder: "Color (HEX)", class: "minicolors" %>
      <%#= f.select :tag_ids, options_for_select(
                current_user.tags.map{|t| [t.name, t.id, { data: { content: "<span class='label' style='background: #{t.color}; color: #{contrastColor(t.color)};'>#{t.name}</span>"}} ]},
                @task.tag_ids
              ),
              { hide_label: true },
              class: "selectpicker input-secondary", multiple: true, size: 10,
              data: { multiple_separator: "", none_selected_text: "Sin etiquetas" } %>
    <% end %>
    <hr>
    <h2>Notice</h2>
    <%= content_tag :div, class:"alert alert-info", role:'alert' do %>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Enter a email address
    <% end %>
    <%= content_tag :div, class:"alert alert-danger", role:'alert' do %>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Enter a valid email address
    <% end %>
    <%= content_tag :div, class:"alert alert-success", role:'alert' do %>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Email address ok
    <% end %>
    <%= content_tag :div, class:"alert alert-warning", role:'alert' do %>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Email address en uso
    <% end %>

    <hr>
    <h2>Icons svg</h2>
    <%= custom_icon('close-icon', 'icon') %>
    <hr>
<% end %>
