<%= content_tag :div, class:"container" do %>
  <h2>Buttons</h2>
  <%= link_to "button 1", nil, class: "btn btn-primary btn-xs " %>
  <%= link_to "button 1", nil, class: "btn btn-primary btn-md " %>
  <%= link_to "button 1", nil, class: "btn btn-primary btn-lg " %>
  <hr>

  <h2>Input text</h2>
  <%= bootstrap_form_tag url: "#", method: :get do |f|%>
    <%= f.text_field :name, hide_label: true, placeholder: "Título", wrapper_class: "" %>
    <%= f.text_area :description, hide_label: true, placeholder: "Descripción", wrapper_class: "" %>
  <% end %>
  <hr>

  <h2>Select Picker</h2>
  <%= bootstrap_form_tag url: "#", method: :get do |f|%>
    <%= f.select :priority, { hide_label: true, include_blank: "Selecciona una prioridad" },
                   { class: "selectpicker input-secondary remove-aspect-select form-control"} %>
  <% end %>
  <hr>

  <h2>Datapicker</h2>
  <%= bootstrap_form_tag url: "#", method: :get do |f|%>
   <%= f.text_field :from_date,
             hide_label: false,
             placeholder: "Que dia empeza la actividad",
             class: "datepicker",
             readonly: "true",
             wrapper_class: "icon-data-picker input-secondary" %>
  <% end %>
  <hr>

  <hr>
  <h2>Timepicker</h2>


<% end %>
