<!DOCTYPE html>
<html>
<head>
  <title>Suspender</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/block_landscape' %>
  <div class="overlay-nprogress"></div>
  <%= render '/shared/nav' %>
  <%= render '/shared/notice' %>
  <%= yield %>
  <%= render '/shared/footer' %>
  <%= render 'cookies_eu/consent_banner', link: cookies_policy_page_path, target: :blank %>

</body>
</html>
